
<!-- saved from url=(0043)http://127.0.0.1:5500/About/stylesheet.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head><body><button class="subscribe">subscribe</button>
<style>
  .subscribe {
    background-color: #b1310e; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
    width: 150px;
    height: 50px;
  }

  .subscribe:hover {
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
  }
  button.subscribe:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
</style>
<button class="join">Join Now</button>
<style>
  .join {
    background-color: #008cba; /* Blue */
    border: none;
    color: aquamarine;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    width: 150px;
    height: 50px;
    margin-left: 10px;
  }
  .join:hover {
    background-color: white;
    color: black;
    border: 2px solid #008cba;
  }
  button.join:active {
    background-color: #005f73;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
</style>
<button class="learn-more">Learn More</button>
<style>
  .learn-more {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    width: 150px;
    height: 50px;
    margin-left: 10px;
  }
  .learn-more:hover {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
  }
  button.learn-more:active {
    background-color: #ba000d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }</style></body></html>